@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu&display=swap');

/* 
            font size: rem/ch
            width: %/vw/ch
            height: %/rem/vh (vh can be inconsistent)
            padding/margin: rem/em
            media queries: em/vw (vw for fonts)

            rem: root em (relative to root font, usu 16px)
            em: relative to nearest parent elem with defined font
            %: relative to size of parent container
            vh/vw: viewport height/width
            ch: relative to "0" char width in current font
            px: absolute size
        */

/* box sizing */
* {
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
}

/*
    font class styling
*/
.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5rem;
    text-align: center;
}

.rubik-header {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 2.2rem;
    text-align: center;
    color: white;
}

.rubik-body {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 2.2rem;
    text-align: center;
    color: white;
}

/*
    content div styling
*/
.header {
    padding: 0.5rem;
    margin: 0.5%;
    margin-bottom: 1.25%;
    text-align: center;
    background: #BD0F0F;
    color: white;
    border-radius: 30px;
}

.row {
    flex-wrap: wrap;
}

.row :nth-child(1) {
    margin-right: 0.25%;
}

.row :nth-child(2) {
    margin-left: 0.25%;
}

.tile {
    border-radius: 20px;
    flex: 48%;
    padding: 1rem;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 0.5%;
    margin-bottom: 0;
    background-color: #36033A;
}

.search {
    padding: 1rem;
    text-align: center;
    background: #36033A;
    border-radius: 20px;
    margin: 0.5%;
    color: white;
}

#result {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#location-name {
    margin-bottom: 1rem;
}

#result-weather {
    width: 30%;
    height: auto;
}

#res-left {
    width: 25%;
    margin-left: 15%;
    margin-right: 5%;
    border: thin solid greenyellow;
}

#res-right {
    width: 40%;
    margin-right: 15%;
    border: thin solid goldenrod;
}

#error-display {
    padding: 1rem;
    text-align: center;
    background: #BD0F0F;
    border-radius: 20px;
    margin: 0.5%;
    margin-bottom: 0;
    color: white;
}

#result-display {
    padding: 1rem;
    text-align: center;
    background: #BD0F0F;
    border-radius: 20px;
    margin: 0.5%;
    margin-bottom: 0;
    color: white;
}

#countryName {
    margin-bottom: 1rem;
}

input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #6E6E6E;
    width: 65%;
    background: #36033A;
    outline: none;
    max-width: 40rem;
}

button {
    border: 0.20rem black solid;
    width: 30%;
    padding: 0.5rem;
    color: white;
    background: #BD0F0F;
    border-radius: 13px;
    margin-bottom: 1rem;
    max-width: 30rem;
}

button:hover {
    background: #ED1D1D;
}

button:active {
    background: #EE2F2F;
}

.hide {
    display: none;
}

/* when screen width <= 700px */
@media screen and (max-width: 700px) {

    /* make columns stack */
    .row {
        flex-direction: column;
    }
}